
<%= form_for @order, :html => {:class => "form-horizontal center"} do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">  
    <%= f.label :name, "Ime:", class: "col-md-2 control-label" %><br>
    <div class="col-md-8">
    <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :address, "Adresa:", class: "col-md-2 control-label" %><br>
    <div class="col-md-8">
    <%= f.text_area :address, class: "form-control" %>
  </div>
  </div>

  <div class="form-group">
    <%= f.label :email, "Email:", class: "col-sm-2 control-label" %><br>
    <div class="col-sm-8">
    <%= f.email_field :email, class: "form-control" %>
  </div>
  </div>

  <div class="form-group">
    <%= f.label :pay_type, "Metod placanja:", class: "col-sm-3 control-label" %><br>
    <div class="col-sm-6" id="metod_placanja">
    <%= f.select :pay_type, Order::PAYMENT_TYPES,
                    :prompt => 'Metod placanja' %>
  </div>
  </div>
  
  <%= f.submit "Posaljite porudzbinu", class: "btn btn-default btn-primary" %>
  
<% end %>
