<div class="cart_title">Vaša korpa</div>

<table>
		
		<%= render(cart.line_items) %>
		<!-- PRIKAZUJE SADRZAJ IZ TEMPLATE app/views/line_items/_line_item.html.erb -->
				
		<tr class="total_line">
			<td colspan="2">Ukupan iznos</td>
			<td class="total_cell"><%= sprintf("din%0.02f", cart.total_price) %></td> <!--<%= number_to_currency(cart.total_price) %> -->
		</tr>
</table>


<%= button_to 'Isprazni Korpu', cart, method: :delete, data: { confirm: 'Da li ste sigurni?' } %>
<%= button_to 'Naruci', new_order_path, method: :get %>