<div id="product_list" >

  <h1>Listing proizvoda</h1>

<%= link_to 'Unesi novi proizvod', new_product_path, :class=>"btn btn-primary" %>

<table id="prikaz_proizvoda">
    <% @products.each do |product| %>
  
    <tr class=" <%= cycle('list_line_odd' , 'list_line_even' ) %>" >
      <td>
      <img class="img-responsive" src=<%= product.picture.url if product.picture %> />
      </td>
  
      <td class="list_description" >
        <dl>
          <dt><%= product.title %></dt>
          <dd><%= truncate(strip_tags(product.description), :length => 80) %></dd>
        </dl>
      </td>

      <td class="list_actions" >
      <%= link_to 'Prikaži', edit_product_path(product), :class=>"btn btn-warning" %>
      
      </td>
    </tr>
  <% end %>
</table>
</div>




