<% if line_item == @current_item %>

<tr id="current_item">
<% else %>
<tr >
<% end %>
<td class="line_item"> <%= line_item.quantity %>&times; </td>
<td class="line_item"> <%= line_item.product.title %> </td>
 <td class="line_item"><%= sprintf("din %0.02f", line_item.total_price) %> &nbsp; </td> <!-- <%= number_to_currency(line_item.total_price) %> -->

 <% if @order.nil? %>
 <td style="color:black"><%= button_to '-', line_item_path(line_item.product.id), method: 'put',
  :remote => true %></td> <!-- SMANJUJE KOLICINU ZA 1 -->
  <% end %>

  
 </tr>
 </tr>

