<!DOCTYPE html>
<html>
<head>
  <title>Bacva</title>
 
  <%= stylesheet_link_tag "bacva.css" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
   
  <%= csrf_meta_tags %>
</head>
<body id = "prodaja">
    
	<div id = "omot">
		<div id = "meni">
			<ul id = "meni-polja">
				<li><a href="#">Pocetna</a></li>
				<li><a href="#">Poslednje ponude</a></li>
				<li><a href="#">Specijalna ponuda</a></li>
				<li><a href="#">Moj Profil</a></li>
				<li><a href="#">Kontakt</a></li>
			
			</ul>
		</div>
		<div id = "baner">
			<%= image_tag "logo1.JPG", data: { src: "logo1.jpg", src_retina: "logo1.jpg" } %>
			<%= @page_title || "Vasa online pijaca/berza vina i rakije" %>

<span>
     <% if session[:counter] > 5 %>
        poseliti ste ovu stranicu <%= pluralize(session[:counter], 'puta')  %>
     <% end %>
</span> 
						
		</div>
			<div id = "centar">
				<div id = "centar-levo">
				<p><input type="text" name="search">Search</p>
					<ul>
						<li><a href="#">Vrste crnih vina</a></li>
						<li><a href="#">Vrste belih vina</a></li>
						<li><a href="#">Vrste domacih rakija</a></li>
						<li><a href="#">Vrste vina od kupine</a></li>
						<li><a href="#">Domaca vina</a></li>
						<li><a href="#">Strana vina</a></li>
					</ul>
				</div>
				
				<div id = "centar-desno">
					<%= yield %>
				</div>
				<div id = "korpa">
					<div id = "cart">
						<%= hidden_div_if(@cart.line_items.empty?, :id => "cart" ) do %>
							<%= render @cart %>
						<% end %>
					</div>

				</div>
				<!-- <div id="reklama2">
					<p>testete test dyede dedede deded dede dede</p>
				</div> -->

			</div>			

	
	
</div>
	<div id = "futer">
		<h6 style="color: white; margin: 0 auto; text-align: right">Powered by bimgate</h6>
		<div id="gde_strana"><%= debug(params) if Rails.env.development? %></div>
	</div>


</body>
</html>
