<!DOCTYPE html>
<html>
<head>


  <title>Bacva</title>
 
 <%= stylesheet_link_tag "application" %>
 
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
   
  <%= csrf_meta_tags %>
</head>
<body>    		

	<div class="container">
		<div class="jumbotron">
		
		
			
			<!--<%= @page_title %>-->
		 
		</div>
		</div>

	<div class="navbar navbar-inverted navbar-fixed-top" class="nav-collapse collapse" id="meni">
	
		<div class="container-fluid">

			<ul class="nav navbar-nav navbar" class="nav-collapse collapse" class="nav">
				<li><a href="<%= store_path %>">Pocetna</a></li>
				<li><a href="#">Najnoviji proizvodi</a></li>
				<li><a href="#">Specijalna ponuda</a></li>

				<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Napredna pretraga</a>

				<ul class="dropdown-menu" role="menu">
				<li class="dropdown-submenu"><a  href="#">Pretraga po vrstama</a>
				<ul class="dropdown-menu" role="menu">
		              <li><a href="<%= store_path(:type_of_wine => 'Crveno vino') %>">Crvena vina</a></li>
		              <li><a href="<%= store_path(:type_of_wine => 'Belo vino') %>">Bela vina</a></li>
		              <li><a href="<%= store_path(:type_of_wine => 'Ruzicasto vino') %>">Ruzicasta vina</a></li>
		        </li>
		        </ul>
		              <li class="dropdown-submenu"><a  href="#">Pretraga po cenama</a>
    					<ul class="dropdown-menu">      						
      						<li><a tabindex="-1" href=" <%= store_path(price: '1') %>">1000 - 2000 din</a></li>
      						<li><a href=" <%= store_path(price: '2') %>">2000 - 3000 din</a></li>
      						<li><a href=" <%= store_path(price: '3') %>">3000 - 5000 din</a></li>      
    					</ul>
  					  </li>
  				</ul>		

				<li><a href="#">Kontakt</a></li>
				<li><a href="#">O nama</a></li>
				<li><a href="<%= admin_path %>">Ulaz za Administratora</a></li>	
			</ul>

		</div>
	</div>


	
<div id = "container" id="centriraj_kontejner">
	<div class="row" id="centriraj_red">
		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 text-center" id="leva_kolona" >

				<div id="search">

				 <%= form_tag(store_path, :method => "get") do %>

				<%= text_field_tag :search, params[:search], class: "span2", placeholder: "Pretrazi proizvode" %>

				<%= button_to 'Pretrazi' %>
				<% end %>

				</div>
				<div class="sidebar">
					<ul>
						<li><a href="#">Vrste belih vina</a></li>
						<li><a href="#">Vrste domacih rakija</a></li>
						<li><a href="#">Vrste vina od kupine</a></li>
						<li><a href="#">Domaca vina</a></li>
						<li><a href="#">Strana vina</a></li>
					</ul>
					</div>
				</div>
			
			
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-6 text-center" id="centar">
				
				
					<%= yield %>
					
				
				</div>			
				
				

			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 text-center" id="desna_kolona">

				
					<div id = "cart">
						<%= hidden_div_if(@cart.line_items.empty?, id: "cart" ) do %>
							<%= render @cart %>
						<% end %>
					</div>

					<div id="admin_panel">
					
					<% if session[:user_id] %>
					<br />
					<%= link_to 'Porudzbine' , orders_path %><br />
					<%= link_to 'Proizvodi' , products_path %><br />
					<%= link_to 'Korisnici' , users_path %><br />
					<br />
					<%= button_to 'Izadji' , logout_path, :method => :delete %>
					<% else %>
					<div id="reklama2">
					<p>Vas sadrzak korpe bla bla bla. Mozete da porucite bla bla bla, itd. Neki tekst reklama. Neki tekst reklama. Neki tekst reklama. Neki tekst reklama. Neki tekst reklama. Neki tekst reklama. Neki tekst reklama.</p>
					</div>
					<% end %>
										
					</div>
				</div>
			</div>
</div>



	<div id = "futer">
		<h6 style="color: white; margin: 0 auto; text-align: right">Powered by bimgate</h6>
		
	</div>
<div id="gde_strana"><%= debug(params) if Rails.env.development? %></div>


</body>
</html>
